@model ShipManagement.Models.Tasks.TaskViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Задачи</h1>

<hr />
<h3>Изтриване на задача</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Заглавие
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Назначена от
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedBy.UserName)
        </dd>
        <dt class = "col-sm-2">
            Назначена на
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTo.UserName)
        </dd>
        <dt class = "col-sm-2">
            Дата на назначаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>
        <dt class = "col-sm-2">
            Дата на приключване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            Приоритет
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            Статус
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Назад към спъсък със задачи</a>
    </form>
</div>
