@model IEnumerable<ShipManagement.Models.Users.UserViewModel>

<h2>Manage Users</h2>

<table class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Username</td>
        <td>@user.Email</td>
        <td>@user.PhoneNumber</td>
        <td>
            @if (user.Roles.Any())
            {
            <ul style="list-style-type: none">
                @foreach (var role in user.Roles)
                {
                <li>@role</li>
                }
            </ul>
            }
            else
            {
            <span>No Roles Assigned</span>
            }
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
            <a asp-action="ManageUserRoles" asp-route-userId="@user.Id">Manage Roles</a>
            <form asp-action="Delete" asp-route-id="@user.Id" method="post" style="display:inline;">
                <button type="submit" class="btn btn-link">Delete</button>
            </form>
        </td>
    </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New User</a>
